{% extends 'base.html' %}

{% block title %}
	Cycleoholic | About Us
{% endblock title %}

{% block body %}
    <div class="jumbotron">
  		<h2 style="text-align:center">Welcome to Cycleoholic.com</h2>
	</div>
	<div>
		<h3 class="page-header">About Us</h3>
		<p>
  			We believe to be the best cycling and accessories website on the net. We have a huge range of products and stock to cater to all your requirements, and we pride ourselves on offering fantastic value and service to our customers. Our aim is to build the best possible relationship we can with our customers and recommendation has always been by far our best form of advertising.
	  	</p>
	</div>
	<div>
		<h3 class="page-header">Contact</h3>
		<address>
			<strong>Cycleoholic</strong><br>
			<a href="#">mail@cycleoholic.com</a><br>
			<a href="#">facebook.com/cycleoholic</a><br>
			<abbr title="Phone">P:</abbr> (+880)CYCLEOHOLIC
		</address>
	</div>
{% endblock body %}