{% extends 'base.html' %}

{% block title %}
    Cycleoholic | Contacts
{% endblock title %}

{% block body %}
	<div class="jumbotron">
		<h2 style="text-align:center">Contact Stores</h2>
	</div>
	
	<div class="row">
		<div class="col-md-2"></div>
		<div class = "col-md-4">
			<h4 class="page-header">Cycle Life Exclusive</h4>
			<address >
				222, 1st floor,<br>
				Gulshan-Tejgaon link road,<br>
				Dhaka-1205<br> 
				Phone: +8801847-052-141<br>
				<a href="https://www.facebook.com/CycleLife.Exclusive">facebook.com/CycleLife.Exclusive</a><br>
				Remains close: Sunday  
			</address>
		</div>
<!--     			<div class="col-md-2"></div> -->
		<div class = "col-md-4">
			<h4 class="page-header">Lion Cycle Store</h4>
			<address>
				A.R.A. Center, 2nd floor,<br>
				Road-7, Dhanmondi,<br>
				Dhaka - 1209<br>
				Phone: +8801680367591<br>
				<a href="https://www.facebook.com/LionCycle">facebook.com/LionCycle</a><br>
				Remains close: Tuesday
			</address>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-2"></div>
		<div class = "col-md-4">
			<h4 class="page-header">MasterWheels</h4>
			<address>
				A.R.A. Center, 2nd floor,<br>
				Road-7, Dhanmondi,<br>
				Dhaka - 1209<br>
				Phone: +8801795328196<br>
				<a href="http://www.facebook.com/masterwheelsbd">facebook.com/MasterWheels</a><br>
				Remains close: Tuesday
			</address>			
		</div>
<!--     			<div class="col-md-2"></div> -->
		<div class = "col-md-4">
			<h4 class="page-header">Bicycle Shop Bd.</h4>
			<address>
				CWS (C)8 South Avenue,<br>
				Gulshan-1,<br>
				Dhaka - 1204<br>
				Phone: +880161BICYCLE<br>
				<a href="https://www.facebook.com/BicycleShopBDL/">facebook.com/BicycleShopBDL</a><br>
				Remains close: Sunday
			</address>
		</div>
	</div>
{% endblock body %}
